body {
    font-family: Roboto;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.4em;
    width: 100%;
    margin: 0;
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
    color: #2a75bb;
}

.navbar {
    background-color: #f8f9fa;
}

.nav-link {
    margin: 0 0 0 15px;
    font-size: 24px;
}

.full-component {
    width: 80%;
    margin: 0 auto;
}


.welcome-title {
    color: #ffcb05;
    text-shadow: -2px 0 #2a75bb, 0 2px #2a75bb, 2px 0 #2a75bb, 0 -2px #2a75bb;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 50px 0 30px 0;
    font-size: 20px;
    text-align: center;
}

.list-element {
    margin: 5px 10px;
    width: 20%;
}

.show-more {
    width: 20%;
    margin: 10px auto;
}

.Spinner {
    width: 20%;
    margin: 0 auto;
}

.error-search {
    display: none;
}

.error-search-show {
    display: block;
    color: red;
    text-align: center;
}

.search-form {
    width: 60%;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-evenly;
}

.physical-details {
    display: flex;
    flex-direction: column;
}

.pokemon-details {
    display: block;
    width: 80%;
    margin: 50px auto;
}
.pokemon-detail {
    margin-bottom: 25px;
}
.details {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.pokemon-details-title {
    margin-bottom: 10px;;
}

.type-details {
    margin: 50px auto;
    display: block;
    width: 80%;

}
.type-details-title {

}
.TypeDetails {
    margin-left: 30px;
}
.type-details-subtitle {
    margin-bottom: 10px;
}
.type-details-detail {
    margin-left: 30px;
}

button {
    background-color: white;
}